.header {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(0, 193, 232, 1) 0%, rgba(255, 255, 255, 1) 100%);
    font-family: "Fredoka One", sans-serif;
    height: 150px;
    display: grid;
    justify-items: stretch;
    width: 100%;
    justify-content: center;
}

.head-title {
    font-size: 5em;
    color: white;
    text-shadow: #ccc 1px 1px 2px;
    text-align: center;
    height: fit-content;
    align-self: center;
    justify-self: start;
    
}

.head-profile {
    font-size: 2em;
    margin-right: 20px;
    align-self: center;
    justify-self: end;
    
}