.chat-header {
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: rgb(124, 167, 168);
    align-items: center;
    justify-content: space-between;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
    box-sizing: border-box;
}

.chat-header-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    width: 90%;
}

.chat-header-action {
    padding-left: 20px;
}

.chat-header .user-image img {
    width: 40px;
    border-radius: 50%;
}

.user-name {
    margin-right: 15px;
    font-size: x-large;
    line-height: 1.2em;
    text-align: end;
}

.message-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    height: 600px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    align-content: flex-start;
}

.message-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.message-container::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

.message-container::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.message {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.message-text {
    padding: 10px;
    border-radius: 20px;
    font-size: x-large;
    line-height: 1.5em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
    overflow-wrap: break-word;
    margin: 5px;
    width: fit-content;
    max-width: 300px;
}
.my-message {
    background-color: cadetblue;
}


.other-message-text {
    background-color: darkgreen;
}
.other-message-position {
    justify-self: end;
    margin-right: 10px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background-color: #7ca7a8;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}

.input-container textarea {
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    resize: none;
}

.input-container div {
    margin-right: 15px;
    text-align: center;
    font-size: x-large;
}
