<div class="chat-header">
    <div class="chat-header-action"><i class="fa fa-chevron-left"></i></div>
    <div class="chat-header-title">
        <div class="user-name">Temp name</div>
        <div class="user-image"><img
                src="https://lh3.googleusercontent.com/oUUiPB9sq3ACq4bUaRmo8pgvC4FUpRRrQKcGIBSOsafawZfRpF1vruFeYt6uCfL6wGDQyvOi6Ez9Bpf1Fb7APKjIyVsft7FLGR6QqdRFTiceNQBm1In9aZyrXp33cZi9pUNqjHASdA=s170-no" />
        </div>
        <div style="margin-right: 10px; margin-left: 20px; font-size: xx-large; cursor: pointer;">
            <i class="fa fa-phone"></i>
        </div>
        <div style="margin-right: 10px; margin-left: 10px; font-size: xx-large; cursor: pointer;">
            <i class="fa fa-video-camera" aria-hidden="true"></i>
        </div>
    </div>
</div>
<div class="message-container" #messageContainer>
    <div class="message" *ngFor="let message of messages" [class.other-message-position]="message.isMyMessage"
        [ngStyle]="{'flex-direction':message.isMyMessage? 'row-reverse': 'row'}">
        <div class="message-text"
            [ngClass]="{'my-message': message.isMyMessage, 'other-message-text': !message.isMyMessage}">
            {{message.messageText}}
        </div>
        <div>
            {{message.sendTime | date: 'short'}}
        </div>
    </div>
    <div *ngIf="messages.length <= 0"
        style="display: flex; 
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: xx-large;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        you haven't send any messages yet
    </div>
</div>
<div class="input-container">
    <textarea placeholder="Enter your message" type="text" [(ngModel)]="messageText"></textarea>
    <div (click)="sendMessage()" style="cursor: pointer;"><i class="fa fa-paper-plane"></i></div>
</div>