@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300;1,400&display=swap");


html,
body {
    height: 100%;
}
body {
    margin: 0px;
    background-color: rgba(159, 160, 161, 1) !important;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
