<div class="search-bar-container">
    <div class="search-bar">
        <input type="search" placeholder="Search..." autofocus required />
        <button type="submit">Go</button>
    </div>
</div>

<div class="toggle-switch-container">
    <app-three-state-toggle-switch></app-three-state-toggle-switch>
</div>

<div class="container">
    <div class="card">
        <img src="https://lh3.googleusercontent.com/oUUiPB9sq3ACq4bUaRmo8pgvC4FUpRRrQKcGIBSOsafawZfRpF1vruFeYt6uCfL6wGDQyvOi6Ez9Bpf1Fb7APKjIyVsft7FLGR6QqdRFTiceNQBm1In9aZyrXp33cZi9pUNqjHASdA=s170-no"
            alt="Person" class="card__image">
        <p class="card__name">Murray Reeve</p>
        <div class="grid-container">

            <div class="grid-child-posts">
                305 Post
            </div>

            <div class="grid-child-followers">
                2643 follow.
            </div>
            <div class="grid-child-followers">
                2643 subs.
            </div>

            
        </div>
        <ul class="social-icons">
            <li><a href="#"><i class="fa fa-paper-plane"></i></a></li>
            <li><a href="#"><i class="fa fa-sticky-note"></i></a></li>
        </ul>
        <button class="btn draw-border">Follow</button>
        <button class="btn draw-border">Message</button>
    </div>
</div>