<div class="card">
    <div class="user-name">
        Temp user
        <div class="user-status user-status-inactive"></div>
    </div>
    <div class="actions">
        <div class="send-btn"><i class="fa fa-paper-plane"></i></div>
        <div class="delete-btn"><i class="fa fa-trash"></i></div>
    </div>
</div>

<div class="card">
    <div class="user-name">
        Temp user
        <div class="user-status user-status-active"></div>
    </div>
    <div class="actions">
        <div class="send-btn"><i class="fa fa-paper-plane"></i></div>
        <div class="delete-btn"><i class="fa fa-trash"></i></div>
    </div>
</div>
<div class="card">
    <div class="user-name">
        Temp user
        <div class="user-status"></div>
    </div>
    <div class="actions">
        <div class="send-btn"><i class="fa fa-paper-plane"></i></div>
        <div class="delete-btn"><i class="fa fa-trash"></i></div>
    </div>
</div>