<div *ngIf="notes.length > 0; else no_notes_count">
    <div class="card" *ngFor="let item of notes">
        <img src={{item.titleImage.imageUrl}} />
        <div class="main-content" [innerHTML] = "item.content">
        </div>
        <div class="footer">
            <div class="actions">
                <span class="fa fa-heart-o"><span>{{item.likes.length}}</span></span>
                <span class="fa fa-share-square"><span>{{item.reposts.length}}</span></span>
                <a href=""> <span class="fa fa-edit"></span></a>
            </div>
            <div class="author">
                By {{item.author.name}}
            </div>
        </div>
    </div>
</div>
<ng-template #no_notes_count>
    <div style="height: 600px; display: flex; justify-content: center;">
        <div style="align-self: center;
                    font-size: 3em;
                    font-family: 'Fredoka One', sans-serif;
                    color: rgb(100, 100, 100);">
            Add your fist note
        </div>
    </div>
</ng-template>
<div class="add-button">
    <a routerLink="../add" class="fa fa-plus"></a>
</div>