
    <div class="card" *ngFor="let item of [1]">
        <img src="../assets/img/photo1.jpg" />
        <div class="main-content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore fugit, reiciendis eius dignissimos et
            obcaecati magnam soluta dolorem saepe dolor perferendis distinctio eligendi, voluptate ipsam perspiciatis
            fuga
            necessitatibus maxime nisi placeat dolore quibusdam libero deserunt totam. Natus mollitia ipsam a magni,
            odio
            praesentium reprehenderit, sequi excepturi laborum ipsum, neque rem cupiditate repudiandae vero sed totam
            repellendus. Aperiam deserunt asperiores dolore est esse et sequi exercitationem at? Enim doloremque,
            assumenda
            eaque illo repellat numquam! Dolores nihil provident asperiores a odit, nam delectus et natus vel quisquam
            dolore
            ut numquam temporibus sequi? Quas tempore dicta vel rerum mollitia est impedit provident ea!
        </div>
        <div class="footer">
            <div class="actions">
                <span class="fa fa-heart-o"><span>12</span></span>
                <span class="fa fa-share-square"><span>12</span></span>
                <a href=""> <span class="fa fa-edit"></span></a>
            </div>
            <div class="author">
                By Alex
            </div>
        </div>
    </div>
<div class="add-button">
    <a routerLink="../add" class="fa fa-plus"></a>
</div>
