<div class="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-file-upload formControlName="titleImage" requiredFileType="image/jpeg" [(ngModel)]="titleImg"></app-file-upload>
        <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>
        <div class="btn-container">
            <button type="button" (click)="cancelBtnClick()">
                Cancel
            </button>
            <button type="submit">
                Save
            </button>
        </div>
    </form>
</div>