<div class="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-file-upload formControlName="titleImage" requiredFileType="image/jpeg"></app-file-upload>
        <!-- <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor> -->
        
        <quill-editor [modules]="modules"></quill-editor>
        <div>
            {{this.form.get("htmlContent").value}}
        </div>
        <div class="btn-container">
            <button type="button" (click)="deleteNote()" *ngIf="isEditingMode">
                Delete note
            </button>
            <button type="button" (click)="cancelBtnClick()">
                Cancel
            </button>
            <button type="submit">
                Save
            </button>
        </div>
    </form>
</div>