<div class="card-container">
  <div class="card">
    <div style="font-size: x-large;" *ngIf="isInputCall; else outgoingCall">Ingoing call...<i
        style="transform: rotate(180deg);" class="fa fa-sign-in" aria-hidden="true"></i></div>
    <ng-template #outgoingCall>
      <div style="font-size: x-large;">Outgoing call...<i class="fa fa-sign-out" aria-hidden="true"></i></div>
    </ng-template>
    <img class="card-img"
      src="https://lh3.googleusercontent.com/oUUiPB9sq3ACq4bUaRmo8pgvC4FUpRRrQKcGIBSOsafawZfRpF1vruFeYt6uCfL6wGDQyvOi6Ez9Bpf1Fb7APKjIyVsft7FLGR6QqdRFTiceNQBm1In9aZyrXp33cZi9pUNqjHASdA=s170-no" />
    <div class="card-name">
      Alex
    </div>
    <div class="control-panel">
      <div (click)="acceptCall()" class="accept-btn" *ngIf="isInputCall">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </div>
      <div (click)="declineCall()" class="decline-btn">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>