.content {
    width: 600px;
    height: fit-content;
    // background-color: rgb(167, 167, 167);
    margin: 0 auto;
}

.card {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(142, 234, 252, 1) 0%, rgba(255, 255, 255, 1) 60%);
}

.card > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card > .main-content-title {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 1.7em;
    line-height: 1.7em;
    text-align: center;
}

.card > .main-content {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.3em;
    text-indent: 50px;
    text-align: justify;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer > .actions {
    font-size: 1.5em;
    margin-right: 10px;
    align-self: center;
}

.footer > .actions span {
    margin: 10px;
    span {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    }
}

.footer > .author {
    align-self: center;
    font-size: large;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.add-button {
    bottom: 10%;
    right: 10%;
    font-size: 80px;
    position: fixed;
}

.add-button > a {
    text-decoration: none;
    transition: color, 0.5s;
    color: rgb(96, 224, 233);
}

.add-button > a:hover {
    text-decoration: none;
    transition: color, 0.5s;
    color: rgb(51, 118, 122);
}

